<div class="flex flex-col justify-between">
  <div
    class="px-20 pt-12 pb-6 text-6xl font-bold leading-none tracking-tight text-primary">
    Stock List
  </div>
  <ng-container *ngIf="stocks">
    <div *ngFor="let stock of stocks" class="py-3 px-8">
      <div (click)="viewStockHistory(stock)"
           class="max-w-xl rounded overflow-hidden shadow-lg bg-gray-100 hover:bg-gray-700 hover:text-amber-50 hover:duration-500">
        <div class="px-6 py-4">
          <div class="font-bold text-xl mb-2">
            {{stock.Symbol}} • {{stock.SecurityName}}
          </div>
        </div>
        <div class="px-6 pt-4 pb-2 flex flex-row align-middle">
          <ng-container *ngIf="favoriteService.authenticatedUser">
            <div click-stop-propagation (click)="togglefavorite(stock)"
                 [ngClass]="isFavorite(stock.Symbol) ? 'bg-amber-400' : 'bg-gray-200' "
              class="z-10 inline-block rounded-full px-3 py-1 text-sm font-semibold mr-2 mb-2">
              <img width="20" [src]="starSource(stock.Symbol)" alt="Add to favorites">
            </div>
          </ng-container>
          <span [ngClass]="stock.NasdaqTraded === 'Y' ? 'bg-green-400' : 'bg-red-400' "
                class="inline-block rounded-full px-3 py-1 text-sm font-semibold text-primary mr-2 mb-2">
            Nasdaq traded
          </span>
          <span [ngClass]="stock.NextShares === 'Y' ? 'bg-green-400' : 'bg-red-400' "
                class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-primary mr-2 mb-2">
            NextShares
          </span>
          <span *ngIf="stock.ETF === 'Y'"
                class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-primary mr-2 mb-2">
            ETF
          </span>
          <span click-stop-propagation (click)="yahooFinanceLink(stock)"
                class="inline-block bg-yahoo rounded-full px-3 py-1 text-sm font-semibold text-white mr-2 mb-2 cursor-pointer">
            Yahoo
          </span>
        </div>
      </div>
    </div>
  </ng-container>
  <div class="px-8">
    <div class="max-w-xl flex flex-row justify-between">
      <button (click)="prevPage()"
              [disabled]="paging === 0"
              class="flex flex-row items-center px-6 py-3 text-primary hover:bg-gray-700 hover:text-amber-50 rounded disabled:duration-500 disabled:opacity-50">
        Previous
      </button>
      <button (click)="nextPage()"
              class="flex flex-row items-center px-6 py-3 text-primary hover:bg-gray-700 hover:text-amber-50 hover:duration-500 rounded">
        Next
      </button>
    </div>
  </div>
</div>
