<div class="flex flex-col justify-between">
  <div appTitle>
    Stock List
  </div>
  <ng-container *ngIf="stocks">
    <div *ngFor="let stock of stocks; trackBy: identify" appCardView (click)="viewStockHistory(stock)">
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2">
          {{stock.Symbol}} • {{stock.SecurityName}}
        </div>
      </div>
      <div class="px-6 pt-4 pb-2 flex flex-row align-middle">
        <ng-container *ngIf="favoriteService.authenticatedUser">
          <div click-stop-propagation
               (click)="togglefavorite(stock)"
               [ngClass]="isFavorite(stock.Symbol) ? 'bg-amber-400' : 'bg-gray-200' "
               class="z-10 inline-block rounded-full px-3 py-1 text-sm font-semibold mr-2 mb-2">
            <img width="20" [src]="starSource(stock.Symbol)" alt="Add to favorites">
          </div>
        </ng-container>
        <span appCardAttribute [ngClass]="stock.NasdaqTraded === 'Y' ? 'bg-green-400' : 'bg-red-400' ">
            Nasdaq traded
          </span>
        <span appCardAttribute [ngClass]="stock.NextShares === 'Y' ? 'bg-green-400' : 'bg-red-400' ">
            NextShares
          </span>
        <span appCardAttribute *ngIf="stock.ETF === 'Y'">
            ETF
          </span>
        <span click-stop-propagation
              appCardAttribute
              (click)="yahooFinanceLink(stock)"
              class="bg-yahoo cursor-pointer text-white">
            Yahoo
          </span>
      </div>
    </div>
  </ng-container>
  <div class="mx-8 my-3 max-w-xl flex flex-row justify-between">
    <button (click)="prevPage()"
            [disabled]="paging === 0"
            appPaginationButton
            class="border disabled:duration-500 disabled:opacity-50">
      Previous
    </button>
    <button (click)="nextPage()"
            appPaginationButton
            class="border hover:duration-500">
      Next
    </button>
  </div>
</div>
