<div class="flex flex-row h-screen justify-around">
  <div class="max-w-2xl rounded flex flex-col justify-center">
    <div class="px-6 py-4 pb-2 shadow-lg">
      <div>
        <div class="font-bold text-xl mb-2">The Coldest Sunset</div>
        <p class="text-gray-700 text-base">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis
          eaque, exercitationem praesentium nihil.
        </p>
      </div>

      <ng-container *ngIf="!(authenticatedUser)">
        <div class="px-6 pt-4 flex-col justify-center">
          <asl-google-signin-button type="standard" size="large"></asl-google-signin-button>
        </div>
      </ng-container>

      <ng-container *ngIf="authenticatedUser">
        <div>{{authenticatedUser!!.email}}</div>
      </ng-container>

      <div class="px-6 pt-4 pb-2">
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#photography</span>
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#travel</span>
        <span (click)="logOut()" class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">logout</span>
      </div>
    </div>
  </div>
  <img class="h-screen hidden lg:flex object-cover shadow-lg" src="/assets/login_stock_mac.jpg" alt="Profit Prophet in action">
</div>
