<div class="flex flex-row h-screen justify-around">
  <div class="max-w-2xl rounded flex flex-col justify-center">
    <div class="px-6 py-4 pb-2 shadow-lg">
      <div class="flex justify-center">
        <div class="font-bold text-xl mb-2">Log in with Google</div>
      </div>
      <ng-container *ngIf="!(authenticatedUser)">
        <div class="w-full flex justify-center px-6 pt-4 mb-4 flex-col">
          <asl-google-signin-button type="standard" size="large"></asl-google-signin-button>
        </div>
      </ng-container>
    </div>
  </div>
  <img class="h-screen hidden lg:flex object-cover shadow-lg" src="/assets/login_stock_mac.jpg"
       alt="Profit Prophet in action">
</div>
