<mat-drawer-container *ngIf="isWindowBigEnough" class="h-screen">
  <mat-drawer #drawer class="p-6" mode="side">
    <app-drawer></app-drawer>
  </mat-drawer>
  <mat-drawer-content class="[&>*]:p-4 flex flex-col h-full">
    <div class="fixed z-40">
      <button type="button" (click)="drawer.toggle(); toggleSideNav()">
        <img [@openClose]="sideNavState" width="48" height="48"
             src='../assets/icons/chevron-left.png'
             alt="chevron-left"/>
      </button>
    </div>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>


<div *ngIf="!isWindowBigEnough">
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <button mat-icon-button>
          <mat-icon>menu</mat-icon>
        </button>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-drawer></app-drawer>
  </mat-expansion-panel>
  <router-outlet></router-outlet>
</div>
