<mat-drawer-container class="h-screen">
  <mat-drawer #drawer class="p-6" mode="side">
    <app-drawer></app-drawer>
  </mat-drawer>
  <mat-drawer-content class="[&>*]:p-4 flex flex-col h-full">
    <div class="fixed z-40">
      <button type="button" (click)="drawer.toggle(); toggleSideNav()">
        <img [@openClose]="sideNavState" width="48" height="48"
             src='../assets/icons/chevron-left.png'
             alt="chevron-left"/>
      </button>
    </div>
    <div>
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
