<!--
<ng-container *ngIf="aaplData$ | async as AppleData">
  <div>
    Tickker: {{ AppleData.results ? AppleData.results[0].T : '' }}
    High: {{ AppleData.results ? AppleData.results[0].h : '' }}
  </div>
</ng-container>
-->
<router-outlet></router-outlet>
<div class="control-section">
  <div>
    <ejs-stockchart
      id='stockChartDefault'
      [chartArea]='chartArea'
      [primaryXAxis]='primaryXAxis'
      [primaryYAxis]='primaryYAxis'
      [title]='chartTitle'
      [crosshair]='crosshair'
      (tooltipRender)='tooltipRender($event)'
      [tooltip]='tooltip'
      (load)='load($event)'>
      <e-stockchart-series-collection>
        <e-stockchart-series [dataSource]='data1' type='Candle' xName='x' yName='high' high='high' low='low'>
        </e-stockchart-series>
      </e-stockchart-series-collection>
    </ejs-stockchart>
  </div>
</div>
